@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 600;
$fw-bolder: 700;

$ff-main: "Montserrat", sans-serif;

:root {
	font-family: $ff-main;
}
