@mixin flex($direction: row, $align: start, $justify: initial) {
	display: flex;
	flex-flow: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin btn-menu {
	border: none;
	width: clamp(15px, 2vw, 25px);
	height: clamp(15px, 2vw, 25px);
	background: none;
	background-size: contain;
	background-repeat: no-repeat;
}

@mixin header-footer-spacing {
	padding: 1.8rem 2rem;
}
